/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bg2s43");
  src: url("../fonts/icomoon.eot?bg2s43#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?bg2s43") format("woff"), url("../fonts/icomoon.ttf?bg2s43") format("truetype"), url("../fonts/icomoon.svg?bg2s43#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e900";
}

.icon-text-document:before {
  content: "\e901";
}

.icon-quill:before {
  content: "\e907";
}

.icon-credit-card:before {
  content: "\e93f";
}

.icon-phone:before {
  content: "\e942";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-linkedin2:before {
  content: "\eaca";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 44%;
  }
}

@media only screen and (max-width: 430px) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: #fdfdfd;
}

::-moz-selection {
  background-color: #00d5c7;
  color: #fff;
}

::selection {
  background-color: #00d5c7;
  color: #fff;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 400;
}

.primary-heading {
  color: #2a303d;
  margin-bottom: 1.5rem;
}

.primary-heading > * {
  display: block;
}

.primary-heading__sub {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #447cdf;
  letter-spacing: 1px;
}

@media only screen and (max-width: 430px) {
  .primary-heading__sub {
    font-size: 1.5rem;
  }
}

.primary-heading__main {
  font-size: 5rem;
}

@media only screen and (max-width: 430px) {
  .primary-heading__main {
    font-size: 3rem;
  }
}

.primary-heading__main--highlight {
  display: inline-block;
  text-decoration: underline;
  background-color: #e7effb;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.paragraph {
  display: block;
  word-spacing: 1px;
  color: #767676;
}

.secondary-heading {
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.tertiary-heading {
  font-size: 1.6rem;
  color: #0f58d6;
  margin-bottom: 2rem;
}

/* .u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; } */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-10rem);
         transform: translateX(-10rem);
  }
  80% {
    -moz-transform: translateX(1rem);
         transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0);
         transform: translate(0);
  }
}
@-o-keyframes moveInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-10rem);
       transform: translateX(-10rem);
  }
  80% {
    -o-transform: translateX(1rem);
       transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -o-transform: translate(0);
       transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
       -moz-transform: translateX(-10rem);
         -o-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
       -moz-transform: translateX(1rem);
         -o-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(10rem);
         transform: translateX(10rem);
  }
  80% {
    -moz-transform: translateX(-1rem);
         transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0);
         transform: translate(0);
  }
}

@-o-keyframes moveInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(10rem);
       transform: translateX(10rem);
  }
  80% {
    -o-transform: translateX(-1rem);
       transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -o-transform: translate(0);
       transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
       -moz-transform: translateX(10rem);
         -o-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
       -moz-transform: translateX(-1rem);
         -o-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-moz-keyframes moveInBottom {
  0% {
    opacity: 0;
    -moz-transform: translateY(3rem);
         transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0);
         transform: translate(0);
  }
}

@-o-keyframes moveInBottom {
  0% {
    opacity: 0;
    -o-transform: translateY(3rem);
       transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -o-transform: translate(0);
       transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
       -moz-transform: translateY(3rem);
         -o-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0);
  }
}

.logo {
  margin-right: 8rem;
  z-index: 10;
}

@media only screen and (max-width: 834px) {
  .logo {
    margin-right: 5rem;
  }
}

.banner {
  width: 54rem;
  height: 62rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1.8rem 4rem -0.8rem;
     -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1.8rem 4rem -0.8rem;
          box-shadow: rgba(0, 0, 0, 0.6) 0 1.8rem 4rem -0.8rem;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  overflow: hidden;
}

@media only screen and (max-width: 834px) {
  .banner {
    width: 45rem;
    height: 55rem;
  }
}

.banner--hero {
  position: absolute;
  top: -12rem;
  left: 78%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/building-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@media only screen and (max-width: 834px) {
  .banner--hero {
    top: -7rem;
  }
}

@media only screen and (max-width: 720px) {
  .banner--hero {
    background-image: none;
    display: none;
  }
}

.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 834px) {
  .content .banner {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .content .banner {
    height: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.content .banner-wrapper {
  width: 50%;
}

@media only screen and (max-width: 834px) {
  .content .banner-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 720px) {
  .content .banner-wrapper {
    width: 100%;
    height: 35rem;
    margin: 0 auto 5rem auto;
  }
}

.content__info {
  width: 43%;
}

@media only screen and (max-width: 834px) {
  .content__info {
    width: 55%;
  }
}

@media only screen and (max-width: 720px) {
  .content__info {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .content__info > * {
    margin: 2rem auto;
    width: 70%;
  }
}

@media only screen and (max-width: 530px) {
  .content__info > * {
    width: 100%;
  }
}

.content__info__box {
  padding: 3.5rem 4rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 1.5rem;
     -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 1.5rem;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 1.5rem;
  margin-bottom: 5rem;
  margin-left: -4rem;
}

@media only screen and (max-width: 834px) {
  .content__info__box {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 720px) {
  .content__info__box {
    margin: 2rem auto 4rem auto;
    width: 70%;
  }
}

@media only screen and (max-width: 530px) {
  .content__info__box {
    width: 100%;
  }
}

.content__info__box .secondary-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__info__box .secondary-heading::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 3rem;
  background-color: #0f58d6;
  margin-right: 1.8rem;
}

.content .paragraph:not(:last-of-type) {
  margin-bottom: 3rem;
}

.icon-wrapper {
  display: inline-block;
  padding: 1rem;
  background-color: #f6f9ff;
  color: #0f58d6;
  margin-right: .7rem;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.cta-btn {
  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 1.2rem 3.2rem;
  color: #fff;
  background-color: #00d5c7;
  font-size: 1.7rem;
  font-weight: 700;
  border: 1px solid #00d5c7;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.cta-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #00d5c7;
}

.git-box {
  padding: 1.6rem 3.5rem;
  background-color: #0f58d6;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 44%;
  z-index: 100;
}

@media only screen and (max-width: 720px) {
  .git-box {
    display: none;
  }
}

.git-box__text {
  font-size: 1.2rem;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.git-box .icon-wrapper {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-top: .4rem;
}

.social-icons {
  list-style: none;
}

.social-icons .social-icon {
  display: inline-block;
  color: #fff;
  background-color: #475060;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: .7rem;
}

.social-icons .social-icon:hover {
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

section {
  padding: 10rem 0;
  display: block;
}

@media only screen and (max-width: 1100px) {
  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 720px) {
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.header {
  padding: 2rem 0;
  font-weight: 700;
}

@media only screen and (max-width: 1100px) {
  .header {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 834px) {
  .header .navigation {
    display: none;
  }
}

.header::before {
  content: "";
  display: inline-block;
  width: 30rem;
  height: 45rem;
  background-color: #e7effb;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

@media only screen and (max-width: 430px) {
  .header::before {
    width: 100%;
    height: 45.5rem;
  }
}

.header .container:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text-box {
  margin-top: 18rem;
  width: 50%;
}

@media only screen and (max-width: 834px) {
  .header__text-box {
    margin-top: 14rem;
  }
}

@media only screen and (max-width: 720px) {
  .header__text-box {
    width: 100%;
    text-align: center;
    margin-top: 8rem;
  }
}

.header__text-box .paragraph {
  width: 70%;
}

@media only screen and (max-width: 720px) {
  .header__text-box .paragraph {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 530px) {
  .header__text-box .paragraph {
    width: 100%;
  }
}

.header__hero {
  position: relative;
}

.header .number {
  color: #0f58d6 !important;
  position: relative;
  z-index: 10;
}

.header .questions {
  list-style: none;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.header .questions .question:not(:last-of-type) {
  margin-bottom: .5rem;
}

.navigation {
  margin-right: auto;
  z-index: 10;
}

@media only screen and (max-width: 834px) {
  .navigation {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
    margin-left: auto;
  }
}

.navigation__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__item:not(:last-of-type) {
  margin-right: 3.5rem;
}

.navigation__item .navigation__link:link,
.navigation__item .navigation__link:visited {
  text-decoration: none;
  color: #000;
}

.footer {
  padding: 6rem 7rem;
  background-color: #303847;
  color: #fff;
}

@media only screen and (max-width: 834px) {
  .footer {
    padding: 3rem;
  }
}

.footer__top, .footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top:not(:last-child), .footer__bottom:not(:last-child) {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 530px) {
  .footer__top:not(:last-child), .footer__bottom:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.footer__top {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 530px) {
  .footer__top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__top > *:first-child {
    width: 100%;
  }
}

.footer__bottom {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media only screen and (max-width: 834px) {
  .footer__bottom > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.footer-heading {
  font-size: 4.4rem;
}

@media only screen and (max-width: 834px) {
  .footer-heading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 720px) {
  .footer-heading {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 530px) {
  .footer-heading {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .footer-heading {
    font-size: 1.8rem;
  }
}

.footer .navigation {
  margin-right: auto;
  margin-left: 0;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
     -moz-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.footer .navigation__link:link,
.footer .navigation__link:visited {
  color: #ccc;
  font-weight: 700;
}

@media only screen and (max-width: 720px) {
  .footer .navigation__link:link,
  .footer .navigation__link:visited {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 430px) {
  .footer .navigation__item {
    margin-right: 1.3rem;
  }
}

@media only screen and (max-width: 530px) {
  .footer .navigation__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.footer .btn-footer {
  background-color: #44c4bc;
  border-color: #44c4bc;
}

.footer .btn-footer:hover {
  color: #fff;
}

.footer .btn-footer__icon {
  margin-left: 2rem;
  font-size: 1.3rem;
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e7effb));
  background-image: -webkit-linear-gradient(top, #fff, #e7effb);
  background-image: -moz-linear-gradient(top, #fff, #e7effb);
  background-image: -o-linear-gradient(top, #fff, #e7effb);
  background-image: linear-gradient(to bottom, #fff, #e7effb);
  margin-top: 20rem;
}

@media only screen and (max-width: 720px) {
  .about {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 530px) {
  .about {
    margin-top: 2rem;
  }
}

.services .heading {
  text-align: right;
}

@media only screen and (max-width: 430px) {
  .services .heading {
    text-align: center;
  }
}

.services-box {
  margin-top: 8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media only screen and (max-width: 530px) {
  .services-box {
    margin-top: 1.5rem;
    text-align: center;
  }
}

.services-box .service {
  width: 23%;
}

@media only screen and (max-width: 834px) {
  .services-box .service {
    width: 50%;
    padding: 5rem;
  }
}

@media only screen and (max-width: 530px) {
  .services-box .service {
    width: 100%;
    padding: 1rem;
  }
}

.services .service {
  padding: 3.5rem 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

.services .service:hover {
  background-color: #f6f9ff;
}

.services .service .secondary-heading {
  font-size: 1.6rem;
}

.services .service .paragraph {
  font-size: 1.5rem;
}

.services .service-icon:before {
  padding: 1.5rem;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  color: #00d5c7;
  background-color: rgba(68, 196, 188, 0.2);
  margin-bottom: 2rem;
  display: inline-block !important;
  font-size: 2rem;
  font-weight: 700;
}

.about-2 {
  margin-top: 0;
}

@media only screen and (max-width: 530px) {
  .about-2 {
    text-align: center;
  }
}

.about-2 .content__info {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.about-2 .secondary-heading {
  font-size: 3rem;
}

.about-2 .paragraph {
  font-size: 1.4rem;
}

.about-2 .paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.about-2 .banner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 1100px) {
  .about-2 .banner-wrapper {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
