$primary-blue: #0f58d6;
$light-blue: #447cdf;
$light-blue-2: #e7effb;
$dark-blue: #303847;

$primary-green: #00d5c7;
$light-green: #44c4bc;
$light-green-2: #f6f9ff;

$light-grey: #757575;
$dark-grey: #475060;