.navigation {
    margin-right: auto;
    z-index: 10;
    
    @media only screen and (max-width: 834px) {
        order: 2;
        margin-right: 0;
        margin-left: auto;
    }

    &__items {
        display: flex;
        list-style: none;
    }

    &__item {
        &:not(:last-of-type) {
            margin-right: 3.5rem;
        }

        .navigation__link:link,
        .navigation__link:visited {
            text-decoration: none;
            color: #000;
        }
    }
}